/* CSS declarations go here */
<<<<<<< HEAD

/* CSS declarations go here */

body {
	background-color: #white;
	background-image: url("help.jpg")
	font-family: Arial, Helvetica, sans-serif;
	color: #819FF7;
	max-width: 100%
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	position: relative;
}


article, aside {
	display: table-cell;
	background-color: #0B173B;
	padding: 20px;
}

aside {
	width: 20%;
}

h1 {
	color: #0101DF;

}
nav { 
	position: absolute;
	top: 15px;
	right: 0;
}

nav ul { padding-left: 0; }

nav li { display: inline-block; }

nav a { 
	display: block; 
	padding: 10px;
	border: 1px solid #333333;
	color:#ad235e;
}

nav a:hover { color: #b2cecf;}

@media	(max-width:	810px)	{
nav {
	position: static;
}
}

@media	(max-width:	390px)	{
nav li {
	display: block;
}
}
=======
 
>>>>>>> parent of b661637... Updates
